body {
  background-color: #f00;
  padding: 20px;
}
.lato {
  font-family: sans-serif;
}
.cardo {
  font-family: sans-serif;
}
.roboto {
  font-family: sans-serif;
}
.merriweather {
  font-family: sans-serif;
}

.lato-loaded .lato {
  font-family: 'Lato', sans-serif;
}
.cardo-loaded .cardo {
  font-family: 'Cardo', sans-serif;
}
.roboto-loaded .roboto {
  font-family: 'Roboto', sans-serif;
}
.merriweather-loaded .merriweather {
  font-family: 'Merriweather', sans-serif;
}